header {
  background-color: #000;
  height: 110px;
}
header::after {
  content:'';
  display: table;
  clear: both;
}
.container {
  max-width: 100vw !important;
}

.logo {
  float: left;
  height: 60px;
  margin-left: 2rem;
  margin-top: 2.2rem;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 3.7rem;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
    color: #fff;
}

.navbar-left {
  float: left;
}
.navbar-left ul {
  margin-left: 20px;
}
.navbar-left li {
  margin-left: 30px;
  font-size: 1.7rem;
  font-weight: 800;
  
  position: relative;
}
.navbar-left a::after {
  content: '';
  display: block;
  height: 2px;
  background-color: $primary;
  
  position: absolute;
  width: 0%;

  transition: all cubic-bezier(.79,.14,.15,.86) 350ms;
}
.navbar-left a:hover::after {
  width: 100%;
}

.selected::after {
  width: 100%!important;
}

.navbar-right {
  float: right;
}
.navbar-right li {
  margin-right: 2.2rem;
}
.nav-icon {
  color: #fff;
}
.nav-language {
  margin-right: 4rem!important;
}
.navbar-right select {
  font-size: 1.7rem;
  font-weight: 800;
  color: #fff;

  appearance: none;
  border: none;
  background: #000;

  padding-right: 1.5rem;
  margin-right: -1.5rem;
}

#dropdownMenuButton {
  font-size: 1.7rem;
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: none;

  line-height: 0;
  transform: translateY(-4px);
  height: 2em;
}
.dropdown-toggle::after {
  /* reset bs after btn */

  margin-left: 0;
  vertical-align: auto!important;
  border-top: 0!important;
  border-right: 0!important;
  border-bottom: 0!important;
  border-left: 0!important;

  /* custom style */
  font-family: "Font Awesome 5 Free"!important;
  content: "\f078"!important;
  font-weight: 900!important;
  line-height: 0.4em!important;
  font-size: 1.3rem!important;
  color: #fff!important;

  position: absolute!important;
}
.dropdown-menu {
  font-size: 1.3rem!important;

  background-color: #000!important;

  transform: translate(0px, 20px)!important;
  min-width: 8.5rem !important;
  border-radius: 0px!important;
}
.dropdown-menu li {
  margin-right: 0!important;
  display: contents!important;
}
.dropdown-item {
  color: rgb(136, 136, 136)!important;
  transition: all ease-in-out 100ms;
}
.dropdown-item:hover {
  background-color: transparent!important;
  color: rgb(255, 255, 255)!important;
}
.dropdown-selected {
  color: rgb(255, 255, 255)!important;
}
.lang-icon {
  width: 15px;
}
.nav-language .dropdown-menu.show {animation: dropdown 200ms ease-in-out}

@keyframes dropdown {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.nav-icon i {
  font-size: 2.3rem;
  line-height: 3.1rem;
}
