#section-1 h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  background-color: $primary;

  width: max-content;
  display: inline-block;
  padding: .1em .5em;
}
#section-1 p {
  font-size: 1.5rem;
}
