<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    @@include('../partials/components/header.html')

    @@include('../partials/components/section-1.html')

    @@include('../partials/components/section-2.html')

    @@include('../partials/components/section-3.html')

    @@include('../partials/components/section-4.html')

    @@include('../partials/components/footer.html')
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>
