<!-- Header -->

<header>
  <div class="container">
    <a href="#"><img src="../../../images/logo-nav.png" alt="HAVOC Gaming Logo" class="logo" draggable="false"></a>

    <nav class="navbar-left">
      <ul>
        <li><a href="#" class="selected">ABOUT</a></li><li><a href="#">SHOP</a></li><li><a href="#">NEWS</a></li><li><a href="#">TEAMS</a></li>
      </ul>
    </nav>

    <nav class="navbar-right">
      <ul>
        <li class="nav-language">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../images/ENG.png" alt="" class="lang-icon"> ENG
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#"><img src="../../../images/PT.png" alt="" class="lang-icon"> PT</a></li>
            </ul>
          </div>
</li><li class="nav-icon"><a href=""><i class="fa fa-user"></i></a></li><li class="nav-icon"><a href=""><i class="fa fa-shopping-cart"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
